*.lo
*.o
.deps/
.dirstamp
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
libzoo.la
ltmain.sh
stamp-h1
stamp-h2
zoo_config.h
